* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 35px;
    font-family: 'Fjalla One', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
h1 {
    text-align: center;
    width: 100%;
    padding: 0.5em;
    font-family: 'Fjalla One', sans-serif;
}
button {
    background-color:#EFC5FA;
    font-weight: 400;
    border-radius: 3px;
    border: 1.3px solid #4E3F54;
    font-family: 'Fjalla One', sans-serif;
    font-size: 16px;
}
button:hover {
    border: 1.5px solid #4E3F54;
}
.container {
    width: 9em;
    border: 1.3px solid #2a2a2b;
    padding: 2px;
    background-color: rgba(222, 222, 222, 0.654);
}
.display {
    display: grid;
    column-gap: 1px;
    height: 1.4em;
    grid-template-columns: 3fr 1fr;
    margin: 2px 2px;

}
.display > * {
    padding: 0.5em 1.2em;
    margin: 2px;
}
.screen {
    width: 3fr;
    text-align: right;
    grid-column: 1/1;
    background-color:#FAE9C5;
    border: 1.5px solid #4E3F54;
    font-size: 16px;
    font-weight: 300;
    color: #2a2a2b;
}
.back, .clear {
    width: 1fr;
    background-color:#c19fcd;
    
}
.back:hover, .clear:hover {
    border: 1.5px solid #4E3F54;
}
.calculator-keys {
    display: grid;
    grid-gap: 1px;
    height: 7.5em;
    grid-template-columns: repeat(4, 1fr);
    margin: 2px;  
}
.calculator-keys > * {
    padding: 0.5em 0.5em;
    border: 1.3px solid #483a4e;
    margin: 2px;
}
.equal {
    grid-column: -2;
    grid-row: 2 / span 4;    
}
.equal, .key {
    background-color:#c9b8cb;
}
.equal:hover, .key:hover {
    border: 1.5px solid #4E3F54;
}
.key {
    font-size: 22px;
    padding: 0.2em 1em;
    font-weight: 500;
}